:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0 10vh;
}

.status {
  font-size: 1.5rem;
  opacity: .5;
  margin: 5px;
}

.prompt a.white i {
  color: red;
}